*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C7D6D5;
  font-family: 'Encode Sans SC', sans-serif;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #6D7275;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav_list{
  list-style: none;
  font-size: 28px;
}

