*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Encode Sans SC', sans-serif;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: #959A9D;
  padding: 6px 14px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;

}
.logo_content .logo{
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav_list{
  list-style: none;
  font-size: 18px;
  color: #fff;
}

.sidebar #btn{
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar ul{
  margin-top: 20px;
  text-align: center;
}

.sidebar ul li{
  position: relative;
  display: inline-block;
  height: 50px;
  width: 100%;
  margin: 0 ,5px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in;
}

.sidebar ul li a i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar ul li a:hover{
  color: #fff;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: bold;

}

.sidebar ul li svg{
  position: absolute;
  top: 0; left: 0; 
}

.sidebar ul li svg rect{
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 422, 0;
  transition: all 1300ms;
}

.sidebar ul li svg:hover rect{
  stroke-width: 2.5px;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
} 
