* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Encode Sans SC', sans-serif;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 78px;
	background: #000;
	padding: 6px 14px;
	overflow-x: hidden;
	opacity: 70%;
	transition: all 0.7s ease;
	z-index: 3;
	opacity: 70%;
}


.sidebar .logo_content .logo{
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	pointer-events: none;
}


.logo_content .logo i{
	font-size: 28px;
	margin-right: 5px;
	margin-left: 15px;
}
.logo_content .logo .logo_name {
	font-size: 20px;
	margin-left: 10px;
}



.nav_list {
	list-style: none;
	font-size: 16px;
	color: #fff;
	text-align: left;
}


.sidebar ul {
	margin-top: 20px;
}

.sidebar ul li {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 100%;
	margin: 0, 5px;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
}

.sidebar ul li input {
	position: absolute;
	height: 100%;
	width: 95%;
	left: 0;
	top: 0;
	border-radius: 10px;
	outline: none;
	border: none;
	padding-left: 50px;
	font-size: 16px;
}

.sidebar ul li .bx-search-alt-2 {
	position: absolute;
	margin-top: 15px;
	padding-left: 15px;
	z-index: 99;
	color: black;
	font-size: 22px;
}

.sidebar ul li a {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.2s ease-in;
	margin-left: 16px;
}

.sidebar ul li a i {
	height: 50px;
	min-width: 40px;
	border-radius: 12px;
	line-height: 50px;
}

.sidebar ul li a:hover {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
}

.sidebar ul li svg {
	position: absolute;
	top: 0;
	left: 0;
}

.sidebar ul li svg rect {
	fill: none;
	stroke: #fff;
	stroke-width: 1px;
	stroke-dasharray: 422, 0;
	transition: all 0.7s ease;
}

.sidebar ul li svg:hover rect {
	stroke-width: 2.5px;
	stroke-dasharray: 10, 310;
	stroke-dashoffset: 33;
}
.media_contatiner{
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.video {
	position: absolute;
	height: auto;
	width: auto;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: 1;
}
